.title-desc{
    font-size: 20px;
}

.title-header h2{
    font-size: 80px;
    text-align: center;
    font-weight: 700;

}



.title{
    padding-top:80px;
    button{
        color: white;
        background-color: black;
        border: none;
      
    }
}