.colections{
    padding: 5rem 0rem;
    letter-spacing: 1px;
    text-transform: uppercase;
     h2{
        text-align: center;
     }
}

.man .row .left{
    figure{
        width: 100%;
        height: 760px;
    }
}

